* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color: blue;
 }

 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }

 .wrapper .loader {
    display: flex;
    justify-content: space-evenly;
    padding: o 20px;
 }

 .loader .loading  {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 1s  ease infinite ;
}

 .loader .loading.one{
    animation-delay: 0.3s;
 }
 .loader .loading.two{
    animation-delay: 0.9s;
 }
 .loader .loading.three{
    animation-delay: 1.3s;
 }
 .loader .loading.four{
    animation-delay: 1.7s;
 }

 @keyframes load {
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
 }